.search-bar,
.jobs-search-bar,
.candidates-search-bar,
.users-search-bar{
    background-color: #252525 !important;
    border-color: #595965 !important;
    color: #595965 !important;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.jobs-search-bar {
    width: 24.5rem;
}
.candidates-search-bar {
    width: 36.5rem;
}

.users-search-bar {
    width: 20rem;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
}

.search-bar-container {
    position: relative;
}
